.mailing {
    width: 100%;
    background: radial-gradient(ellipse, #40A6D1, #297DB6);
    height: auto;
    #newsletterwidget-2{
        font-weight: 500;
        font-size: 18px;
        line-height: 130%;
        color: #FFFFFF;
    }
    .flex{
        @media all and (max-width: 768px) {
            display: block;
        }
    }
    &__text {
        font-size: 18px;
        color: #fff;
        font-family: 'Futura PT';
        font-weight: 400;
        margin: 0;
        h2 {
            color: #fff;
            font-family: 'Rubik';
            margin: auto 0 13px 0;
            font-size: 24px;
            text-align: left;
        }

    }
    &__form {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        &__input {
            width: 260px;
            height: 50px;
            border-radius: 4px;
            border: 1px solid #003599;
            text-align: start;
        }
    }
}

.wrap__tx-form {
    margin-left: 11%;
    width: 510px;
    @media all and (max-width: 768px) {
        width: 100%;
        margin-left: 0;
        .mailing__text, h2{
            text-align: center;
        }
        .tnp-field-email{
            flex: 1;
            input{
                width: 100% !important;
            }
        }
        .tnp-field-button{

        }
    }
}

.wrap__svg-letter {
    display: flex;
    @media all and (max-width: 768px) {
        display: block;
        text-align: center;
        img{
            max-width: 300px;
            height: auto;
        }
    }
    img {
        margin-top: 20px;
    }
}