@import "selectric.scss";
@import "_default.scss";
@import "_normalize.scss";

.subject-works{
  padding: 20px;
  font-size: 30px;
  text-align: center;
  color: #FFFFFF;
  background-color: #b9110d;
}
a{
  text-decoration: none;
  &:hover{
    text-decoration: none;
    border-bottom: none;
  }
}
*{
  //font-family: "Open Sans", sans-serif!important;
}
.disabled-item{
  pointer-events: none;
  opacity: 0.5;
}
.tours-tabs .nav-tabs li.active a, .tours-tabs .nav-tabs li a{
  font-family: 'Futura PT'!important;
}
html {
  font-family: 'Futura PT'!important;
}
.wpfFilterButtons{
  min-width: auto!important;
  button{

  }
}
.woocommerce-page .woocommerce input.button, .woocommerce-page .woocommerce a.button, .woocommerce-page .woocommerce .button, .woocommerce-page input.button, .woocommerce-page a.button, .woocommerce-page .button, .woocommerce .woocommerce input.button, .woocommerce .woocommerce a.button, .woocommerce .woocommerce .button, .woocommerce input.button, .woocommerce a.button, .woocommerce .button{
  @include mainbutton;
  display: inline-flex;
  background-color: #B9110D!important;
  border-radius: 4px;
  border: 1px solid white;
  font-size: 1.6rem!important;
  font-family: 'Futura PT'!important;
  font-weight: 500;
  &:hover{
    background-color: #FF3D38!important;
  }
}
body {
  margin: 0;
  font-family: 'Futura PT'!important;
  &.home {
    .layout-container {
      width: 100%;
      padding: 0;
      margin-bottom: 0;
    }

    .margin-top {
      margin-top: 0;
    }
  }
}

* {
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.conteiner {
  max-width: 1300px;
  padding: 0 100px;
  width: 100%;
  height: auto;
  margin: auto;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 44px;
  color: #fff;
}

h2 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 36px;
  color: #092C6D;
  text-align: center;
}

h3 {
  font-size: 24px;
  color: #092C6D;
}

h4 {
  font-size: 18px;
  color: #092C6D;
}


.small__button {
  width: 170px;
  height: 50px;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #B9110D;
  border-radius: 4px;
}

.big-small__but_content {
  color: #fff;
  font-family: 'Futura PT';
  font-weight: 400;
}

a {
  text-decoration: none;
}

.mage_form_list {
  input {
    height: 52px;
    border-radius: 0px !important;

    &::placeholder {
      color: #B7B7C6 !important;
      font-family: 'Futura PT' !important;
      font-size: 16px;
      line-height: 99%;
    }
  }
}

.mage_form_search {
  height: 100%;

  #mage_bus_search_button {
    height: 100%;
    border: 1px solid white;
  }
}

#mage_bus_search_button, .wpfFilterButton.wpfButton, .wpfClearButton.wpfButton, #mage_bus_search_button, .tnp-submit {
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #B9110D !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 0px;
  color: white;
  font-family: 'Rubik', sans-serif;
  font-weight: 400 !important;
  font-size: 16px;
  line-height: 99%;
  text-transform: none !important;

  &:hover {
    background-color: #FF3D38;
    color: white;
  }
}

div[class*='mage_default'] {
  margin-bottom: 0;
}

.main__wrap-form-list {
  .wpfFilterButton.wpfButton, .wpfClearButton.wpfButton {
    padding: 17px 60px;
    width: auto;
    border: 1px solid white;
  }

  .wpfFilterContent {
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
}

.big__button, .brown-button {
  width: 460px;
  height: 50px;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #B9110D;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  margin: 25px auto 100px auto;
  color: white;

  &:hover {
    background-color: #FF3D38;
    color: white;
  }
}

.card {
  background: #fff;
  display: flex;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}


.logout-icon, .login-icon {
  &:before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    //background-image: url("../../images/inout.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-right: 5px;
  }
}

.account-icon {
  margin-left: 20px;

  &:before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    //background-image: url("../../images/login-icon.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-right: 5px;
  }
}

.logout-icon, .login-icon, .account-icon {
  display: flex;
  align-items: center;

  a {
    font-size: 12px;
    line-height: 125%;
    color: #092c6d;
    font-weight: 400;
    text-decoration: underline;
  }
}

.header__info {
  #login-menu {
    margin-right: 20px;
    ul, li{
      margin-bottom: 0;
    }
  }

  .header__info__items-right, #login-menu {
    display: flex;
    align-items: center;

    a {
      font-size: 16px;
    }
  }
}

.reviewes {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: white;

  .brown-button {
    margin-bottom: 0;
  }

  .container {
    max-width: 1300px;
    padding: 0 100px;
    width: 100%;
    height: auto;
    margin: auto;

  }

  @media all and (max-width: 500px) {
    padding-bottom: 20px;
  }

  &__title {
    margin-bottom: 73px;
    @media all and (max-width: 500px) {
      margin-bottom: 20px;
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__lnk {
    text-align: center;
  }
}

.strong-view.wpmtst-default {
  .strong-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;

    .wpmtst-testimonial {
      margin: 0 0 30px 0 !important;
      border: none !important;
      width: calc(50% - 15px);
      background: #FFFFFF;
      box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      height: auto;
      padding: 31px 20px 32px 40px;

      .wpmtst-testimonial-inner {
        border: none !important;
        padding: 0;

        .wpmtst-testimonial-content {
          display: flex;
          justify-content: space-between;
          @media all and (max-width: 600px) {
            flex-direction: column;
          }

          .wpmtst-testimonial-image {
            width: 80px;
            height: 80px;
            margin: 0;
            @media all and (max-width: 600px) {
              margin-bottom: 20px;
              margin-right: auto;
              margin-left: auto;
            }

            img {
              object-fit: fill;
              width: 100%;
              height: 100%;
              padding: 0;
              border: none;
            }
          }

          .wpmtst-testimonial__wrapper {
            width: 100%;
            border-radius: 8px;
            padding: 0 0 0 30px;
            position: relative;
            @media all and (max-width: 600px) {
              width: 100%;
            }
            @media all and (max-width: 500px) {
              padding: 20px;
            }

            p {
              font-size: 1em;
              line-height: 130%;
              font-weight: 400;
              color: #092C6D;
            }

            .testimonial-field {
              font-weight: 600;
              font-size: 1.4rem;
              line-height: 140%;
              color: #403F3E;
              margin-bottom: 7px;
              text-align: left;

              &.testimonial-name {
                text-align: left;
                font-size: 1.12em;
                line-height: 130%;
                color: #092C6D;
                font-weight: 600;
                margin-bottom: 10px;
              }
            }
          }
        }
      }
    }
  }
}

.main-nav-header {
  a {
    font-size: 18px;
    line-height: 99%;
    letter-spacing: 0.03em;
    color: #092C6D;
    padding-bottom: 3px;
    border-bottom: 3px solid transparent;
    transition: 0.3s;
    font-family: 'Rubik', sans-serif;
    text-transform: none;
    font-weight: 400;

    &:hover {
      color: #FF0000;
      border-bottom: 3px solid #092C6D;
    }
  }
}

div[class*='mage_default'] {
  padding: 0;
  background-color: transparent;
  border: none;

  .mage_form_control {
    margin-bottom: 0;
  }
}

form.mage_form label {
  margin: 0;
}

.main-nav .current-menu-item {
  &:after {
    display: none;
  }

  a {
    color: #FF0000;
    border-bottom: 3px solid #092C6D;
  }
}

.sb-main.sb-chat.sb-no-conversations {
  display: block !important;
}

.post-type-archive-product {
  .layout-container {
    > .row {

    }
  }
}

.mailing {
  .mailing {
    background: transparent;
  }
}

#newsletterwidget-2 {
  .tnp.tnp-widget form {
    display: flex;
    margin-top: 27px;
  }

  .tnp-field {
    margin-bottom: 0;
  }

  input.tnp-email {
    width: 260px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid #003599;
    text-align: start;
    margin-right: 10px;
    margin-bottom: 0;

    &::placeholder {
      font-size: 16px;
      color: #B7B7C6;
    }
  }

  input.tnp-submit {
    padding: 13px 32px;
    height: 100%;
  }
}

.mewtwo-flights--xl {
  .mewtwo-widget .mewtwo-flights {
    background-color: transparent !important;
    padding: 0 !important;
    border: none !important;
  }
}

.mewtwo-flights-container.mewtwo-flights-container--new {
  > section.mewtwo-best_offers {
    display: none !important;
  }
}

.main__wrap-form-list {
  display: initial !important;
}

.cascoon .cascoon-root, .cascoon-root .cascoon-node {
  padding: 0 !important;
  justify-content: space-between;
}

.main__wrap-form .cascoon-root .cascoon-leaf {
  margin: 0 !important;
}

.main__wrap-form .cascoon.cascoon-4576.cascoon-4576_0, .cascoon.cascoon-4576.cascoon-4576_0 .cascoon-like-wrapper {
  background-color: transparent !important;
  border: none !important;
}

.main__wrap-form.jd-filter {

  .widget .tab_content {
    padding: 0 !important;

    .form, .form_group {
      flex-direction: row;
    }

    .form_field {
      padding-bottom: 0 !important;


    }

    .form_field_tips {
      display: none !important;
    }

    .form_submit {
      margin-bottom: 0 !important;
    }
  }

}

.row.charter {
  .atgrid__item-wrap {
    width: 100%;
  }
}


.charter-item {
  &__ticket{
    padding: 20px;
    position: relative;
    .current-ticket-lnk{
      position: absolute;
      top: 20px;
      right: 20px;
      text-align: center;
      a{
        @include mainbutton;
        display: inline-block;
        margin: auto;
        border-radius: 4px;
        &:hover{
          background-color: #FF3D38!important;
        }
      }
    }
  }
  &__ticket {
    display: flex;
    flex-wrap: wrap;
  }

  &__img {
    text-align: left;
    width: 100%;
    margin-bottom: 30px;

    img {
      width: 100px;
      height: auto;
    }
  }
  &__finish{
    margin-left: 20px;
  }
  &__midle{
    flex: 1;
    .row{
      width: 100%;
      display: flex;
      margin: 0;
      svg{
        width: 30px;
        height: auto;
      }
      .direct-start{
        margin-right: 4px;
        position: relative;
        &:before{
          content: "";
          display: block;
          width: 200%;
          margin-right: -100%;
          position: absolute;
          bottom: -2px;
          left: 0;
          height: 4px;
          border-radius: 4px;
          background-color: #092C6D;
        }
      }
      .direct-put{
        flex: 1;
        border-bottom: 1px solid #092C6D;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        padding-bottom: 20px;
      }
      .direct-peres{
        text-align: center;
        margin-top: 20px;
        display: block;
        width: 100%;
      }
      .direct-end{
        margin-left: 4px;
        position: relative;
        &:before{
          content: "";
          display: block;
          width: 200%;
          margin-left: -100%;
          position: absolute;
          bottom: -2px;
          height: 4px;
          right: 0;
          border-radius: 4px;
          background-color: #092C6D;
        }
      }
    }
  }
  &__start{
    margin-right: 20px;
    &-time{
      font-size: 50px;
      font-weight: bold;
    }
    &-locate{
      margin-bottom: 10px;
      font-size: 20px;
    }
    &-date{
      font-size: 20px;
    }
  }
}
.popular{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  > div{
    width: calc(33.3% - 15px);
    margin-bottom: 30px;
  }
}
.widget_root .tab_content .form_field_tips{
  display: none!important;
}
.widget[data-size=large] .tab_content .form_field_tips, .widget[data-size=medium] .tab_content .form_field_tips{
  display: none!important;
}
.home .widget_root .tab_content{
  form{
    padding: 1px 0;
    .form_submit{
      margin-bottom: 0!important;
      @include mainbutton;
      @include filterbutton;
      height: 50px !important;
      max-width: none!important;
    }
  }
  .passengers_count_result{
    border-radius: 5px!important;
  }
  .passengers_count_minus, .passengers_count_plus{
    height: 50px!important;
    background-color: transparent;
    border: none!important;
    color: white!important;
  }
  .wrapper_suggest_input, .form_field_input{
    position: relative;
    height: 50px!important;
    input{
      margin-bottom: 0;
      padding: 15px 40px 0 14px!important;
      height: 100%!important;
    }
    label{
      transform: scale(.71428571,.71428571) translateX(0) translateY(-.8em)!important;
      position: absolute;
      top: 10px;
      left: 10px;
      z-index: 2;
      font-size: 14px!important;
      color: #777!important;
    }
  }
}
.home .mewtwo-widget .mewtwo-flights-submit_button>button{
  margin-bottom: 0!important;
  @include mainbutton;
  @include filterbutton;
  max-width: none!important;
}
.widget .tab_content, .widget_root .tab_content{
  #date_from{
    label{
      display: none!important;
    }
    .date_input{
      height: auto!important;
      input{
        margin-bottom: 0!important;
      }
    }
  }
  background-color: transparent!important;
  padding: 0!important;
  border: none!important;
  .passengers_count{
    background-color: #FFFFFF;
    border-radius: 5px!important;
    .passengers_count_result{
      color: #000000;
    }
  }
}
.woocommerce{
  .product-name{
    a{
      color: #092c6d!important;
      font-weight: 600;
    }
  }
}
.woocommerce div.product.product_cat-charternye-rejsy .variations .reset_variations:hover{
  background-color: #FF3D38!important;
}
.woocommerce div.product{
  &.product_cat-charternye-rejsy{
    .product_title{
      text-align: left;
    }
    .variations{
      tr{
        border: none;
        .value{
          display: flex;
          flex-direction: column;
          .select2{
            width: 100% !important;
          }
        }
      }
      .reset_variations{
        margin-top: 40px;
        @include mainbutton;
        padding: 17px 60px!important;
        border-radius: 4px;
        &:hover{
          background-color: #FF3D38!important;
        }
      }
    }
    .row.charter{
      margin-top: 40px;
    }
    .woocommerce-product-attributes-item__value{
      a{
        text-align: right;
        color: #000000;
      }
      text-align: right;
      color: #000000;
    }
    .product-box .row > .col-md-6{
      width: 200px;
      &:nth-child(2){
        width: calc(100% - 200px);
      }
    }

  }
}
.woocommerce-variation-availability{
  margin-top: 20px;
}
#wpfMainWrapper-2_682983{
  .label, li{

    font-size: 14px!important;
  }
}
#wpfBlock_5{
  .selectric{
    border-radius: 4px;
  }
}
.main__wrap-form-list .filter-naprav .selectric .label, .main__wrap-form-list .filter-toback .selectric .label, .main__wrap-form-list #wpfBlock_11 .label, .main__wrap-form-list #wpfBlock_17 .label, .main__wrap-form-list #wpfBlock_5 .label{
  color: #424242!important;
}
.categorycharter{
  position: relative;
  .atgrid__row-separator{
    display: none!important;
  }
  .charter-item__ticket{
    margin-bottom: 20px;
  }
  > .row{
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
    &:before, &:after{
      display: none;
    }
    justify-content: center;
  }
  &:before{
    content: "";
    display: block;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 15px;
    width: calc(100% - 30px);
    height: 100%;
    background-color: #EEEEEE;
  }
  .sidebar{
    width: 220px;
    padding: 0;
    margin-right: 20px;
    #wpfwoofilterswidget-4{
      background-color: transparent;
      padding: 0;
      box-shadow: none;
      font-family: 'Open Sans', sans-serif!important;

      .wpfFilterButton.wpfButton, .wpfClearButton.wpfButton{
        width: 100%;
        margin: 0;
      }
      .ui-widget-header{
        background-color: #2571a4!important;
      }
      .wpfPriceInputs{
        display: inline;
        color: rgba(0,0,0,.4);
        font-size: 13px!important;
        line-height: 16px;
        opacity: 1;
        transition: opacity .2s ease;
        .wpfFilterDelimeter{
          margin: 0;
        }
      }
      .ui-slider .ui-slider-handle{
        top: -7px;
        width: 16px;
        height: 16px;
        border: 3px solid #00afdd!important;
        border-radius: 15px;
        background-color: #fff;
        cursor: pointer;
        border-color: #2571a4!important;
      }
      .wpfFilterWrapper .ui-slider-horizontal{
        height: 4px!important;
        background-color: RGBA(0,0,0,.1) !important;
        border: none!important;
        top: 6px;
      }
      .wpfFilterVerScroll{
        li{
          margin-bottom: 10px;
          .wpfCheckbox{

          }
        }
      }
      .wpfFilterTitle{
        display: flex;
        .fa-minus{
          &:before{
            position: relative;
            display: inline-block;
            top: -1px;
            margin-left: 7px;
            width: 9px;
            height: 5px;
            background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D%220%200%206%204%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ctitle%3Etriangle%3C%2Ftitle%3E%3Cpath%20fill%3D%22%23424242%22%20d%3D%22M3%204l3-4H0%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E);
            background-repeat: no-repeat;
            transition: transform 200ms cubic-bezier(.645,.045,.355,1);
            transform: rotate(
                            0deg
            );
            transform-origin: center;
            content: '';
          }
        }
        .fa-plus{
          &:before{
            position: relative;
            display: inline-block;
            top: -1px;
            margin-left: 7px;
            width: 9px;
            height: 5px;
            background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D%220%200%206%204%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ctitle%3Etriangle%3C%2Ftitle%3E%3Cpath%20fill%3D%22%23424242%22%20d%3D%22M3%204l3-4H0%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E);
            background-repeat: no-repeat;
            transition: transform 200ms cubic-bezier(.645,.045,.355,1);
            transform-origin: center;
            content: '';
            transform: rotate(
                            -90deg
            ) translate3d(2px,0,0);
          }
        }
      }
      .wfpTitle{
        color: #424242;
        text-transform: uppercase;
        font-size: 12px!important;
        font-weight: 600;
        line-height: 19px;
        height: auto;
        margin-bottom: 15px;

      }
      .wpfFilterTaxNameWrapper{
        z-index: 1;
        font-size: 13px!important;
        font-weight: 400;
        line-height: 16px;
        cursor: pointer;
      }
    }
  }
  main.col-md-9{
    max-width: 714px;
    padding: 0;
  }

}
.home .mewtwo-widget .mewtwo-flights--virgin div.mewtwo-stand-out input{
  border-color: transparent!important;
}
.schedule{
  &__charter{
    &-item{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 9px;
      border-top: 1px solid #E9E9E9;
      &:last-child{
        border-bottom: 1px solid #E9E9E9;
      }
    }
    .time{
      display: flex;
      color: #000000;
    }
    .company{
      display: flex;
      align-items: center;
      color: #000000;
      img{
        width: 50px;
        height: auto;
        margin-right: 20px;
      }
    }
    .date{
      color: #000000;
    }
    .abr{
      display: flex;
      color: #7D7D7D!important;
    }
    &-lnk{
      color: #0085FF !important;
      text-decoration: none !important;
      font-family: "Open Sans", sans-serif!important;
      font-size: 18px;
    }
  }
}
.single-product{
  .margin-top{
    margin-top: 0;
  }
  .product{
    margin-top: 60px;
  }
  .selectric{
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    margin-bottom: 10px;
    .label{
      font-size: 1.8rem;
      color: black;
      height: 43px;
      line-height: 43px;
    }
    .button{
      background-color: transparent!important;
      height: 43px;
    }
  }
  .product-box{
    form.cart{
      .wapf-wrapper{
        .wapf-field-group{
          display: flex;
          flex-wrap: wrap;
          .wapf-field-container{
            width: 20% !important;
          }
        }
      }
    }
  }
  .single-product-ticket{
    &__header{
      display: flex;
      justify-content: space-between;
      padding: 40px 0;
      align-items: center;
      .price{
        font-size: 3.6rem!important;
        line-height: 99%;
        color: #092C6D;
        font-weight: 500;
        margin-bottom: 0;
      }
    }
    &__tittle{
      font-size: 2.4rem;
      line-height: 99%;
      color: #FF0000;
      font-weight: 400;
      font-family: "Open Sans", sans-serif!important;
      .result{
        color: #092C6D;
        margin-right: 66px;
      }
    }
  }
  .layout-content{
    background-color: white;
  }
  .product-box{
    padding: 0;
    box-shadow: none!important;
    form.cart{
      .form-header{
        border: 1px solid #D6D6D6;
        box-sizing: border-box;
        box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.15) !important;
        border-radius: 4px;
        padding: 40px 30px;
      }
      .form-footer{
        border: 1px solid #B9110D;
        box-sizing: border-box;
        box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.15) !important;
        border-radius: 4px;
        margin-top: 60px;
        padding: 40px 62px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .form-footer__desc{
          width: 70%;
          font-size: 3rem!important;
          line-height: 99%;
        }
        .single_add_to_cart_button{
          width: 25%;
          padding: 0 20px;
          background: #B9110D!important;
          border: 1px solid #FFFFFF;
          box-sizing: border-box;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 4px;
          transition: 0.3s;
          &:hover{
            background-color: #ff3d38!important;
          }
          &:before{
            display: none;
          }
        }
      }
    }
  }
  .quantity{
    display: none;
  }
  .charter-item{
    &__start{
      margin-right: 90px;
      text-align: center;
    }
    &__finish{
      margin-left: 90px;
      text-align: center;
    }
    &__midle{
      flex-direction: column;
      justify-content: center;
      display: flex;
    }
    &__start-locate{
      margin-top: 15px;
      margin-bottom: 0;
    }
    &__start-time{
      font-size: 3.6rem!important;
      line-height: 99%;
      color: #092C6D;
      margin-bottom: 15px;
      font-weight: 500;
    }
  }
  .single-product-ticket{
    border: 1px solid #D6D6D6;
    box-sizing: border-box;
    box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    padding: 40px 30px;
    .charter-item__img{
      width: 150px;
      img{
        width: 100%;
        height: auto;
      }
    }
    .charter-item__ticket{
      width: calc(100% - 210px);
      padding: 0;
      margin-bottom: 0;
    }
  }
}
.header-section{
  background-color: transparent;
  box-shadow: none;
  border-bottom: 1px solid #D6D6D6;
  padding: 0;
  li{
    color: #092C6D;
    margin: 0;
  }
}
.woocommerce-info{
  a{
    margin-left: 20px;
    color: darkred;
  }
}
.archive{
  .layout-container{
    background-color: #F6F6F6;
    >.row{
      padding: 0;
      .col-xs-12{
        background-color: #F6F6F6;
      }
    }
  }
}
@import "_fonts.scss";
@import "_header.scss";
@import "_section-main.scss";
@import "_schedule.scss";
@import "_mailing.scss";
@import "_inform.scss";
@import "_footer.scss";
@import "_media.scss";